
/* Define colors, fonts and other style attributes here to override the defaults
 */
img { border: 0; }
.alignHeading { text-align: left; }

/* Page background color */

/* some yellowish colors */
    /* body { background-color: #FEE7C7 } */
body { background-color: #F0E0C0 }      /* darker */
    /* body { background-color: #FFF0D0 }      lighter */

/* Attributes for main body */
.MainSec00Font { font-size: large }
.MainSec01Font { font-size: medium }

h1 {text-align: center; }

.tt { font-size: larger;
    font-family: 'Courier New',Courier,monospace;
    white-space: nowrap;
}

.note { background-color: yellow; color: black; }

A.critical:link {color: red; }
A.critical:active {color: red; }
A.critical:visited {color: red; }

A.note:link { background-color: yellow; color: black; }
A.note:visited { background-color: yellow; color: black; }
A.note:active { background-color: yellow; color: black; }
A.note:hover { background-color: white; color: black; }
/*
A.note:active {color: green; font-weight: bold}
A.note:visited {color: green; font-weight: bold}
*/

/* a table of jVi commands */
.TableOfCommands { border-collapse: collapse; }
.TableOfCommands td { border-style: ridge;
                      padding: 0 4px;
                      border-width: 3px;
}

.ImgRight { float: right; margin: 0 0 15px 15px; }
.ImgLeft { float:left; margin: 0 15px 15px 0; }
/* following can use like: class="ImgRight frame" */
.frame { padding: 5px; border: 1px solid #aaa; }

/* Table colors */
.TableHeadingColor     { background: #CCCCFF } /* Dark mauve */
.TableSubHeadingColor  { background: #EEEEFF } /* Light mauve */
.TableRowColor         { background: #FFFFFF } /* White */

/* used in left-hand frame lists (tables) */
.IndexTableHeader {
    font-size: 15pt; font-family: normal; font-weight: normal;
    white-space: nowrap;
    text-align: left;
}
.IndexTable {
    font-family: normal;
    white-space: nowrap;
    border: 0;
    width: 100%
}

.addr { font-size: smaller }

em.heavy { font-weight: bold }

/* Example of smaller, sans-serif font in frames */
/* .FrameItemFont  { font-size: 10pt; font-family: Helvetica, Arial, sans-serif } */

/* Navigation bar fonts and colors */
.NavBarCell1    { background-color:#EEEEFF;}/* Light mauve */
.NavBarCell1Rev { background-color:#00008B;}/* Dark Blue */
.NavBarFont1    { font-family: Arial, Helvetica, sans-serif; color:#000000;}
.NavBarFont1Rev { font-family: Arial, Helvetica, sans-serif; color:#FFFFFF;}

.NavBarCell2    { font-family: Arial, Helvetica, sans-serif; background-color:#FFFFFF;}
.NavBarCell3    { font-family: Arial, Helvetica, sans-serif; background-color:#FFFFFF;}

